*{
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    min-width: 100%;
    min-height: 100%;
}

header {
    display: flex;
    width: 210vh;
}

.contenido-principal-d {
    height: 25vh;
    width: 66vh;
    background-color: antiquewhite;
}

.titulo-navegacion-b {
    height: 25vh;
    width: 146vh;
    background-color: blue;
}

main {
    height: 60vh;
    width: 210vh;
    background-color: pink;
}

.footer-a {
    height: 15vh;
    width: 210vh;
    background-color: green;
}