*{
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
    font-weight: bold;
}

p {
    font-size: 19px;
}
body {
    display: flex;
    flex-direction: column;
    min-width: 100%;
    min-height: 100%;
}

header {
    display: flex;
    height: 15vh;
    width: 210vh;
    text-decoration: none;
    list-style: none;
}
ul{
    list-style: none;
}

.titulo {
    text-align: center;
}
.contenido-principal-d {
    height: 25vh;
    width: 66vh;
    background-color: antiquewhite;
}

.boton {
    align-content: center;
    margin: 5%;
    padding: 1%;
    color:white;
    width: 200px; 
    height: 50px;
    border: none; 
    border-radius: 15px; 
    box-shadow: 0 -5px 10px rgba(0, 0, 0, 0.4); 
    font-size: 18px; 
    font-weight: bold; 
    text-align: center;
    background-color: lightgrey; 
    transition: all 01 ease
}
div.boton:hover {
    transform: translateY(2px);
    background-color: black;

}
.titulo-navegacion-b {
    padding: 1%;
    justify-content: center;
    height: 25vh;
    width: 146vh;
    background-color: rgb(203, 203, 255);
    border-bottom: green;
    gap: 10px;
    align-items: flex-start;
}


.boton-alerta {
    padding: 1%;
    text-align: center;
    width: 200px; 
    height: 50px;
    border: none; 
    border-radius: 15px; 
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4); 
    font-size: 18px; 
    font-weight: bold; 
    background-color: rgb(133, 133, 133); 
    position: sticky;
    bottom: 0;
}
main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 68vh;
    width: 210vh;
    background-color: pink;
}

.tarjetas {
    padding-top: 80px;
    display: flex; 
    flex-wrap: wrap; 
    gap: 20px; 
    text-align: center; 
    justify-content: space-evenly; 
}

.tarjeta {
    width: 50vh; 
    min-height: 40vh;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4); 
    border-radius: 15px; 
    transition: all 0.3s ease; 
    border: 0.1px solid black;
}

div.tarjeta:active { 
    transform: translateY(20px); 
    font-size: 25px;
    font-weight: bold;
}
.a:hover {
    letter-spacing:2cm;
}

.footer-a {
    padding: 2%;
    color:white;
    height: 15vh;
    width: 210vh;
    background-color: rgb(68, 43, 61);
}

a {
    color:rgb(151, 132, 132);
    text-decoration: none;
    list-style: none;
}

@media (min-width: 900px) {
    :root { --scale: 0.84; } 
}